<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2018 www.evincemage.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="checkout_show_comment_block_onfig" xsi:type="object">Evincemage\OrderComment\Model\CommentBlockConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
