<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2018 www.evincemage.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="em_save_order_comment_in_quote" type="Evincemage\OrderComment\Plugin\Model\Checkout\GuestPaymentInformationManagement" sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="em_save_order_comment_in_quote" type="Evincemage\OrderComment\Plugin\Model\Checkout\PaymentInformationManagement" sortOrder="20"/>
    </type>
    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="em_save_order_comment_in_quote" type="Evincemage\OrderComment\Plugin\Model\Checkout\PaymentInformationManagement" sortOrder="10"/>
    </type>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="em_order_comment" xsi:type="string">sales_order.em_order_comment</item>
            </argument>
        </arguments>
    </virtualType>
</config>