<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2018 www.evincemage.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Evincemage_OrderComment" schema_version="2.0.0"  setup_version="1.0.0">
        <sequence>
            <module name="Magento_Checkout"/>
        </sequence>
    </module>
</config>
